BasedOnStyle: LLVM
IndentWidth: 2
ContinuationIndentWidth: 2
BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 2
ConstructorInitializerAllOnOneLineOrOnePerLine: false
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 0