CompileFlags:
  Add: [
    "-ffreestanding",
    "-nostdinc",
    "-nostdinc++",
    "-isystem", "/Users/maxrtson123/projects/MaxOS/toolchain/cross_compiler/cross/x86_64-elf/include/c++/13.2.0",
    "-isystem", "/Users/maxrtson123/projects/MaxOS/toolchain/cross_compiler/cross/x86_64-elf/include/c++/13.2.0/x86_64-elf",
    "-isystem", "/Users/maxrtson123/projects/MaxOS/toolchain/cross_compiler/cross/x86_64-elf/include/c++/13.2.0/backward",
    "-isystem", "/Users/maxrtson123/projects/MaxOS/toolchain/cross_compiler/cross/lib/gcc/x86_64-elf/13.2.0/include",
    "-isystem", "/Users/maxrtson123/projects/MaxOS/toolchain/cross_compiler/cross/lib/gcc/x86_64-elf/13.2.0/include-fixed",
    "-isystem", "/Users/maxrtson123/projects/MaxOS/toolchain/cross_compiler/cross/x86_64-elf/include"
  ]
