*.o
*.elf
kernel.elf
.idea/.name
.idea/max-os.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/reply/cache-v2-c9259ddf783c1053af8a.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-66d7c7e65d270011a39d.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-b6eae10a7e05c93116a1.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
cmake-build-debug/.cmake/api/v1/reply/index-2022-10-12T07-07-13-0623.json
cmake-build-debug/.cmake/api/v1/reply/target-untitled-Debug-01d236beec2479041080.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ff5aef03429a075082e9.json
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.23.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.23.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.23.2/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.23.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/a.exe
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdCXX/a.exe
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/untitled.dir/build.make
cmake-build-debug/CMakeFiles/untitled.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/untitled.dir/compiler_depend.make
cmake-build-debug/CMakeFiles/untitled.dir/compiler_depend.ts
cmake-build-debug/CMakeFiles/untitled.dir/depend.make
cmake-build-debug/CMakeFiles/untitled.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/untitled.dir/flags.make
cmake-build-debug/CMakeFiles/untitled.dir/includes_CXX.rsp
cmake-build-debug/CMakeFiles/untitled.dir/link.txt
cmake-build-debug/CMakeFiles/untitled.dir/linklibs.rsp
cmake-build-debug/CMakeFiles/untitled.dir/objects1.rsp
cmake-build-debug/CMakeFiles/untitled.dir/progress.make
cmake-build-debug/Makefile
cmake-build-debug/MaxOS.cbp
cmake-build-debug/Testing/Temporary/LastTest.log
MaxOS.bin
MaxOS.iso
README.md
MaxOS.img
/.hushlogin
