set default=0
set timeout=0

menuentry "Max OS" {
    echo "Max OS by Max Tyson || (64 Bit Mode)"
    echo "===================================="
    echo "Loading Kernel..."
    multiboot2 /boot/MaxOSk64
    module2 /boot/Init.elf Init
    module2 /boot/maxos.initrd initrd
    boot
}