name: MaxOS

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build-os:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Install Ubuntu Dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential bison flex libgmp3-dev libmpc-dev libmpfr-dev texinfo libisl-dev cmake nasm

      - name: Cache toolchain
        id: cache-toolchain
        uses: actions/cache@v3
        with:
          path: toolchain/cross_compiler
          key: ${{ runner.os }}-cross_compiler_3

      - name: Build toolchain
        if: steps.cache-toolchain.outputs.cache-hit != 'true'
        run: |
          cd toolchain
          ./make_cross_compiler.sh --no-deps

      - name: Build MaxOS (Release)
        run: |
          cd toolchain/pre_process
          ./version.sh --force
          ./symbols.sh pre ../../kernel/include/common/symbols.h
          cd ../../
          mkdir -p cmake-release
          cd cmake-release
          cmake .. -DCMAKE_TOOLCHAIN_FILE=toolchain/CMakeToolchain.txt -DCMAKE_BUILD_TYPE=Release
          make install

      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: Kernel Binary
          path: filesystem/boot/MaxOSk64

  generate-docs:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Only run this job if the previous job was successful
    needs: build-os

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Install epstopdf
        run: sudo apt-get update && sudo apt-get install -y texlive-font-utils

      - name: Generate Docs
        run: |
          cd toolchain
          ./make_documentation.sh

      - name: Upload to branch

        # Only upload if this is not a pull request (i.e., it's a push to main)
        if: github.event_name != 'pull_request'
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: docs
          FOLDER: docs/doxy
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MESSAGE: "Build: ({sha}) {msg}"